@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --foreground: oklch(20.35% 0.024 163.66); /* 1E352F */
  --card: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --card-foreground: oklch(20.35% 0.024 163.66); /* 1E352F */
  --popover: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --popover-foreground: oklch(20.35% 0.024 163.66); /* 1E352F */
  --primary: oklch(60.1% 0.088 109.43); /* 828C51 */
  --primary-foreground: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --secondary: oklch(76.54% 0.108 109.28); /* A6C36F */
  --secondary-foreground: oklch(33.15% 0.038 152.02); /* 335145 */
  --muted: oklch(76.54% 0.108 109.28); /* A6C36F */
  --muted-foreground: oklch(33.15% 0.038 152.02); /* 331545 */
  --accent: oklch(76.54% 0.108 109.28); /* A6C36F */
  --accent-foreground: oklch(33.15% 0.038 152.02); /* 331545 */
  --destructive: oklch(33.15% 0.038 152.02); /* 335145 */
  --destructive-foreground: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --border: oklch(76.54% 0.108 109.28); /* A6C36F */
  --input: oklch(76.54% 0.108 109.28); /* A6C36F */
  --ring: oklch(60.1% 0.088 109.43); /* 828C51 */
  --chart-1: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --chart-2: oklch(76.54% 0.108 109.28); /* A6C36F */
  --chart-3: oklch(60.1% 0.088 109.43); /* 828C51 */
  --chart-4: oklch(33.15% 0.038 152.02); /* 335145 */
  --chart-5: oklch(20.35% 0.024 163.66); /* 1E352F */
  --radius: 0.625rem;
  --sidebar: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --sidebar-foreground: oklch(20.35% 0.024 163.66); /* 1E352F */
  --sidebar-primary: oklch(60.1% 0.088 109.43); /* 828C51 */
  --sidebar-primary-foreground: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --sidebar-accent: oklch(76.54% 0.108 109.28); /* A6C36F */
  --sidebar-accent-foreground: oklch(33.15% 0.038 152.02); /* 331545 */
  --sidebar-border: oklch(76.54% 0.108 109.28); /* A6C36F */
  --sidebar-ring: oklch(60.1% 0.088 109.43); /* 828C51 */
}

.dark {
  --background: oklch(20.35% 0.024 163.66); /* 1E352F */
  --foreground: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --card: oklch(20.35% 0.024 163.66); /* 1E352F */
  --card-foreground: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --popover: oklch(20.35% 0.024 163.66); /* 1E352F */
  --popover-foreground: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --primary: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --primary-foreground: oklch(20.35% 0.024 163.66); /* 1E352F */
  --secondary: oklch(33.15% 0.038 152.02); /* 335145 */
  --secondary-foreground: oklch(76.54% 0.108 109.28); /* A6C36F */
  --muted: oklch(33.15% 0.038 152.02); /* 335145 */
  --muted-foreground: oklch(76.54% 0.108 109.28); /* A6C36F */
  --accent: oklch(33.15% 0.038 152.02); /* 335145 */
  --accent-foreground: oklch(76.54% 0.108 109.28); /* A6C36F */
  --destructive: oklch(60.1% 0.088 109.43); /* 828C51 */
  --destructive-foreground: oklch(20.35% 0.024 163.66); /* 1E352F */
  --border: oklch(33.15% 0.038 152.02); /* 335145 */
  --input: oklch(33.15% 0.038 152.02); /* 335145 */
  --ring: oklch(60.1% 0.088 109.43); /* 828C51 */
  --chart-1: oklch(20.35% 0.024 163.66); /* 1E352F */
  --chart-2: oklch(33.15% 0.038 152.02); /* 335145 */
  --chart-3: oklch(60.1% 0.088 109.43); /* 828C51 */
  --chart-4: oklch(76.54% 0.108 109.28); /* A6C36F */
  --chart-5: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --sidebar: oklch(33.15% 0.038 152.02); /* 335145 */
  --sidebar-foreground: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --sidebar-primary: oklch(20.35% 0.024 163.66); /* 1E352F */
  --sidebar-primary-foreground: oklch(87.89% 0.106 109.1); /* BEEF9E */
  --sidebar-accent: oklch(33.15% 0.038 152.02); /* 335145 */
  --sidebar-accent-foreground: oklch(76.54% 0.108 109.28); /* A6C36F */
  --sidebar-border: oklch(33.15% 0.038 152.02); /* 335145 */
  --sidebar-ring: oklch(60.1% 0.088 109.43); /* 828C51 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
